<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Administration - Maudit Festival</title>
	<link rel="icon" href="/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-5.3.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/admin-style.css" />

	<!-- js -->
	<script src="/plugins/jquery-3.7.1.min.js"></script>
	<script src="/plugins/bootstrap-5.3.3.min.js"></script>
</head>


<body class="container-fluid">
	<header class="admin_header row">
		<a href="/" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>
		<h1 class="col-md-9 col-sm-7 col-6">Interface admin</h1>
	</header>
<section class="row">
	<div class="col-md-3 admin_sidebar">
		<ul>
			<li class="line_1"><a href="/admin">&lt;&lt; Back</a></li>
			<li class="line_1" th:if="${edition.name() == 'CURRENT'}"><a href="/">Preview</a></li>
			<li class="line_1" th:if="${edition.name() == 'NEXT'}"><a href="/admin/next">Preview</a></li>
			<li class="line_1"><a href="#filmAnchor">Films</a></li>
			<li class="line_1"><a href="#sponsorAnchor">Sponsors</a></li>
			<li class="line_1"><a href="#guestAnchor">Invités</a></li>
			<li class="line_1"><a href="#teamAnchor">Équipe</a></li>
			<li class="line_1"><a href="#lookAnchor">Configuration</a></li>
			<li th:if="${(edition.name() == 'NEXT') && (form.name != '')}">
				<form th:action="@{current}" th:method="post"
					onsubmit="return confirm('Êtes vous sûr de vouloir rendre publique la nouvelle édition ? Avez-vous bien renseigné les horaires des films et vérifié que la couleur d\'accent est lisible ?');">
					<button type="submit" class="btn btn-danger">Publier</button>
				</form>
			</li>
			<li class="line_1" th:if="${edition.name() == 'CURRENT'}"><a href="#boothPicturesAnchor">Mettre les photos booth</a></li>
		</ul>
	</div>
	<main class="admin_main col-md-8">
		<th:block th:if="${form.name != ''}">
			<h2 id="filmAnchor" class="admin_title_next_edition" >Films </h2>
			<a class="btn btn-primary" href="film/create/new">Ajouter un film</a>
			<div class="row edition_content_film">
				<article th:each="film : ${page.films}">
					<header>
						<img th:src="${(film.posterUrl == null) ? '/img/unannounced_movie_poster.jpg' : film.posterUrl}" style="height: auto" th:alt="${film.title}">
					</header>
					<p th:text="${(film.title == null) ? 'Titre pas encore annoncé' : film.title}"></p>
					<a th:href="${'film/edit/' + film.id}">Éditer</a>
				</article>
			</div>
			<h2 id="sponsorAnchor" class="admin_title_next_edition" >Sponsor </h2>
			<a class="btn btn-primary" href="sponsor/create/new">Ajouter un sponsor</a>
			<a class="btn btn-primary" href="sponsor/copy">Copier un sponsor</a>
			<div class="row edition_content_film">
				<article th:each="sponsor : ${page.sponsors}">
					<header class="partner-logo-display">
						<img th:src="*{sponsor.logoUrl}" style="height: auto" th:alt="${sponsor.name}">
					</header>
						<p th:text="${sponsor.name}"></p>
						<a th:href="${'sponsor/edit/' + sponsor.id}">Éditer</a>
				</article>
			</div>
			<h2 id="guestAnchor" class="admin_title_next_edition" >Invités</h2>
			<a class="btn btn-primary" href="guest/create/new">Ajouter un invité</a>
			<div class="row edition_content_film">
				<article th:each="guest : ${page.guests}">
					<header class="partner-logo-display">
						<img th:src="*{guest.pictureUrl}" style="height: auto" th:alt="${guest.name}">
					</header>
						<p th:text="${guest.name}"></p>
						<a th:href="${'guest/edit/' + guest.id}">Éditer</a>
				</article>
			</div>
			<h2 id="teamAnchor" class="admin_title_next_edition" >Équipe</h2>
			<div class="row edition_content_film">
				<div class="form-group" th:each="position : ${page.positions}" style="width: 100%; display: flex;">
					<div  class="col-md-6" style="display: flex; flex-direction: column;">
						<label th:text="${position.name}">Nom de la position</label>
						<div>
							<th:block th:each="crew, iter : ${position.crews}" >
								<button type="button" class="btn btn-secondary" th:text="${crew.firstName + ' ' + crew.lastName}" 
								data-bs-toggle="collapse" th:data-bs-target="${'#collapsed-crew-form-' + crew.id}" >Name</button>
							</th:block>
							<button type="button" class="btn btn-secondary" data-bs-toggle="collapse" th:data-bs-target="${'#collapsed-add-crew-for-pos-' + position.id}">Ajouter</button> 
						</div>
					</div>
					<div th:id="${'crew-forms-' + position.id}" class="col-md-6">
						<div class="collapse" th:id="${'collapsed-crew-form-' + crew.id}" th:each="crew, iter : ${position.crews}" th:data-parent="${'#crew-forms-' + position.id}">
							<form th:method="post" th:action="@{${'crew/edit/' + crew.id }}">
								<input type="hidden" th:value="${position.id}" name="positionId" />
								<input class="form-control" name="firstName" th:value="${crew.firstName}" placeholder="Prénom" />
								<input class="form-control" name="lastName" th:value="${crew.lastName}" placeholder="Nom de famille" />
								<button type="submit" class="btn btn-primary">Modifier</button>
								<button type="submit" th:form="${'crew-delete-form-' + crew.id }" class="btn btn-danger">Supprimer</button>
							</form>
							<form th:id="${'crew-delete-form-' + crew.id }" th:method="post" th:action="@{${'crew/delete/' + crew.id }}"></form>
						</div>
						<div class="collapse" th:id="${'collapsed-add-crew-for-pos-' + position.id}" th:data-parent="${'#crew-forms-' + position.id}">
							<form th:method="post" th:action="@{crew/add}">
								<input type="hidden" th:value="${position.id}" name="positionId" />
								<input class="form-control" name="firstName" placeholder="Prénom" />
								<input class="form-control" name="lastName" placeholder="Nom de famille"/>
								<button type="submit" class="btn btn-primary">Ajouter</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row container">
					<label data-bs-toggle="collapse" data-bs-target="#add-position-form" role="button">Ajouter un nouveau poste</label>
					<form id="add-position-form" class="collapse" th:method="post" th:action="@{crew/position/add}">
						<label for="input-position-name">Nom du poste</label>
						<input id="input-position-name" class="form-control" name="positionName" placeholder="Nom du poste"/>
						<label for="select-position-order">Ordre de la position</label>
						<select class="form-control" name="previousPositionId">
							<option value="">Avant toutes les autres</option>
							<option th:each="position : ${page.positions}" th:text="${position.name}" th:value="${position.id}">Nom de la position</option>
						</select>
						<button type="submit" class="btn btn-primary">Créer nouveau poste</button>
					</form>
				</div>
			</div>
		</th:block>
		<h2 id="lookAnchor" class="admin_title_next_edition">Configuration</h2>
		<div class="row edition_content_film">
			<form th:method="post" th:action="@{save}" th:object="${form}" enctype="multipart/form-data" class="container">
				<div class="row form-group">
					<div class="col-md-6">
						<label for="edition-name">Nom :</label>
						<input id="edition-name" class="form-control" th:field="*{name}" placeholder="1999">
					</div>
					<div class="col-md-6">
						<label for="edition-duration">Durée :</label>
						<input id="edition-duration" class="form-control" th:field="*{timePeriod}" placeholder="Du 20 au 27 Janvier">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="firstDay">Premier jour "on" :</label>
						<input id="firstDay" class="form-control" th:field="*{firstDay}" type="date">
					</div>
					<div class="col-md-6">
						<label for="lastDay">Dernier jour "on" :</label>
						<input id="lastDay" class="form-control" th:field="*{lastDay}" type="date">
					</div>
				</div>
				<div class="form-group">
					<label for="edition-teaser">Teaser :</label>
					<input id="edition-teaser" class="form-control" th:field="*{teaserUrl}" placeholder="https://www.youtube-nocookie.com/embed/???">
					
				</div>
				<div class="form-group">
					<label for="buy-pass-url">URL de vente des pass 6 places :</label>
					<input id="buy-pass-url" class="form-control" th:field="*{buyPassUrl}" placeholder="https://www.helloasso.com/associations/terreur-nocturne/???">
					
				</div>
				<div class="form-group">
					<label for="edition-edito">Editorial :</label>
					<textarea id="edition-edito" class="form-control" th:field="*{editorial}" 
					placeholder="Editorial" rows="25"></textarea>
					<small class="form-text text-white-50">Vous pouvez utiliser les balises [i]<i>italique</i>[/i], [b]<b>gras</b>[/b] et [url="https://lemauditfestival.com"]<a target="_blank" href="https://lemauditfestival.com">lien</a>[/url]</small>
				</div>
				<div class="form-group">
					<label for="tickets">Tarifs et tickets :</label>
					<textarea id="tickets" class="form-control" th:field="*{tickets}" 
					placeholder="Une place pour 5 €, pass 10 places à 25€, ..." rows="10"></textarea>
					<small class="form-text text-white-50">Vous pouvez utiliser les balises [i]<i>italique</i>[/i], [b]<b>gras</b>[/b] et [url="https://lemauditfestival.com"]<a target="_blank" href="https://lemauditfestival.com">lien</a>[/url]</small>
				</div>
				<p class="form-group">
					<label for="edition-color">Accent color :</label>
					<input id="edition-color" type="color" th:field="*{color}">
				</p>
				<p class="form-group">
					<label for="uploadPdf">Programme pdf :</label>
					<div>
						<a th:if="*{pdfUrl} != null" th:href="*{pdfUrl}" th:text="*{pdfUrl}"></a>
						<input type="file" id="uploadPdf" accept="application/pdf"
						th:field="*{pdfFile}"/>
					</div>
				</p>
				<p class="form-group">
					<label for="uploadHeader">Image header :
						<img id="headerPreview" class="imageUploadPreview d-block" th:src="*{heroUrl}">
						<input type="file" id="uploadHeader" accept="image/*" class="d-none2"
						th:field="*{heroFile}" th:required="*{heroUrl == null}" >
					</label>
				</p>
				<p class="form-group">
					<label for="uploadPoster">Affiche :
						<img id="posterPreview" class="imageUploadPreview d-block" th:src="*{posterUrl}">
						<input type="file" id="uploadPoster" accept="image/*" class="d-none2"
						th:field="*{posterFile}">
					</label>
				</p>
				<p class="form-group">
					<label for="uploadShareImage">Image à montrer lors du preview des liens sur les réseaux sociaux :
						<img id="shareImagePreview" class="imageUploadPreview d-block" th:src="*{shareImageUrl}">
						<input type="file" id="uploadShareImage" accept="image/*" class="d-none2"
						th:field="*{shareImageFile}" th:required="*{shareImageUrl == null}" >
					</label>
				</p>

				<input class="btn btn-primary" type="submit">
			</form>
		</div>
		<th:block th:if="${form.name != ''}">
			<h2 id="boothPicturesAnchor" class="admin_title_next_edition">Envoi des photos booth</h2>
			<div class="row edition_content_film">
				<form th:method="post" th:action="@{pictures}" enctype="multipart/form-data" class="container">
					<div class="col-md-6">
						<label for="booth-password">Mot de passe :</label>
						<input id="booth-password" class="form-control" name="password" required/>
					</div>
					<input type="file" accept="image/*" name="files" multiple required>
					<input class="btn btn-primary" type="submit">
				</form>
			</div>
		</th:block>
	</main>
</section>
</body>
<script>
function showPreviewImage(input, image, maxsize) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			if(maxsize && input[0].files[0].size > maxsize){
				alert("Le fichier est plus gros que la taille maximale de " + maxsize + " octets !");
				input[0].value = "";
				return;
			};
			var reader = new FileReader();

			reader.onload = function (e) {
				image.attr('src', e.target.result);
			}

			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadHeader"), $("#headerPreview"), 500000);
showPreviewImage($("#uploadPoster"), $("#posterPreview"), 500000);
</script>
</html>
