<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:if="${form.name != null}"  th:text="${'Édition de ' + form.name}">Nom de l'invité</title>
		<title th:if="${form.name == null}">Création d'un nouvel invité</title>
		<link rel="icon" href="/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-5.3.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin-style.css" />

		<!-- js -->
		<script src="/plugins/jquery-3.7.1.min.js"></script>
		<script src="/plugins/bootstrap-5.3.3.min.js"></script>
	</head>
<body class="container-fluid">
<!--	<header>-->
<!--		<a href="/admin" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>-->
<!--	</header>-->

	<form th:action="@{../save-edit}" th:method="post" th:object="${form}" enctype="multipart/form-data" class="container">
		<input type="hidden" th:field="*{id}">
		<div class="form-group">
			<label for="name">Nom de l'invité</label>
			<input type="text" th:field="*{name}" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="description">Description de l'invité</label>
			<textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
			<small class="form-text text-muted">Vous pouvez utiliser les balises [i]<i>italique</i>[/i], [b]<b>gras</b>[/b] et [url="https://lemauditfestival.com"]<a target="_blank" href="https://lemauditfestival.com">lien</a>[/url]</small>
		</div>
		<div class="form-group partner-logo-display">
			<label for="uploadLogo">Photo de l'invité'
			<img id="picturePreview" class="imageUploadPreview" th:src="*{pictureUrl}">
			</label>
			<input type="file" th:field="*{pictureFile}" accept="image/*" class="form-control-file" id="uploadPicture">
		</div>
		<a href="../../dashboard#guestAnchor" class="btn btn-secondary">Annuler</a>
		<button type="submit" class="btn btn-primary" th:text="*{id == null} ? 'Créer' : 'Éditer'">Créer</button>
	</form>
	<form th:action="@{../delete}" th:method="post" th:if="${form.id != null}"
	 onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet invité ?');">
		<input type="hidden" name="id" th:value="${form.id}">
		<button type="submit" class="btn btn-danger">Supprimer</button>
	</form>
</body>
<script>
function showPreviewImage(input, image, maxsize) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			if(maxsize && input[0].files[0].size > maxsize){
				alert("Le fichier est plus gros que la taille maximale de " + maxsize + " octets !");
				input[0].value = "";
				image.attr('src', "");
				return;
			};
			var reader = new FileReader();

				reader.onload = function (e) {
					image.attr('src', e.target.result);
				}

			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadPicture"), $("#picturePreview"), 50000);

</script>
</html>
