<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Administration - Maudit Festival</title>
	<link rel="icon" href="/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-5.3.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/admin-style.css" />

	<!-- js -->
	<script src="/plugins/jquery-3.7.1.min.js"></script>
	<script src="/plugins/bootstrap-5.3.3.min.js"></script>
</head>


<body class="container-fluid">
	<header class="admin_header row">
		<a href="/" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>
		<h1 class="col-md-9 col-sm-7 col-6">Copier un sppnsor</h1>
	</header>
<section class="row">
	<main class="admin_main col-md-8">
		<h2 class="admin_title_next_edition" >Sponsors</h2>
		<a href="../dashboard#sponsorAnchor" class="btn btn-danger">Annuler</a>
		<div class="row edition_content_film">
			<article th:each="sponsor : ${sponsors}">
				<header class="partner-logo-display">
					<img th:src="*{sponsor.logoUrl}" style="height: auto" th:alt="${sponsor.name}">
				</header>
					<p th:text="${sponsor.name}"></p>
					<a th:href="${'copy/' + sponsor.id}">Copier</a>
			</article>
		</div>
	</main>
</section>
</body>
</html>
