<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="common-header-values(canonicalurl, title, description, shareImageUrl)">
	<link rel="icon" href="/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="/plugins/jquery-3.7.1.min.js"></script>

	<link rel="canonical" th:href="${canonicalurl}" />
	<title th:text="${title}">Le Maudit Festival</title>
	<meta name="description" th:content="${description}"/>
	<meta property="og:title" th:content="${title}" />
	<meta property="og:description" th:content="${description}" />
	<meta property="og:image" th:content="${shareImageUrl}" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" th:content="${title}" />
	<meta name="twitter:description" th:content="${description}" />
	<meta name="twitter:image" th:content="${shareImageUrl}" />

	</th:block>


	<th:block th:fragment="owa-script">

	<!-- Start Open Web Analytics Tracker -->
	<script type="text/javascript">
	//<![CDATA[
	var owa_baseUrl = 'https://owa.lemauditfestival.com/';
	var owa_cmds = owa_cmds || [];
	owa_cmds.push(['setSiteId', '22cb78cb413ca246d529023cb9a7193f']);
	owa_cmds.push(['trackPageView']);
	owa_cmds.push(['trackClicks']);

	(function() {
		var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
		owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
		_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
		var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
	}());
	//]]>
	</script>
	<!-- End Open Web Analytics Code -->

	<style>
	:root {
	--accent-color: [[${page.accentColor}]];
	}
	</style>
	</th:block>
</head>
<body>
	<nav class="navbar" th:fragment="common-navbar">
		<label for="mobile_menu" class="header-logo">
			<svg th:replace="~{fragments/svg :: burger-menu}" ></svg>
		</label>
		<input style="display: none;" type="checkbox" id="mobile_menu">
		<div>
			<a class="navbar-link" th:if="${page != null && page.editorial != null}" href="/#editorial">Éditorial</a>
			<a class="navbar-link" href="/#programmation">Programmation</a>
			<a class="navbar-link" href="/#pratique" th:unless="${page.pastEdition}">Infos pratiques</a>
			<a class="navbar-link" href="/a-propos-du-maudit-festival">Qui sommes-nous ?</a>
			<div class="navbarDropdownLastEdition navbar-link" role="button">
				<label for="previousEditionCheckbox">Editions précédentes</label>
				<input id="previousEditionCheckbox" type="checkbox" style="display: none;">
				<div class="dropdown-menu dropdown_nav_style" style="width: 100%;">
					<a  class="navbar-link" href="/editions-precedentes/avant-le-maudit-festival">Historique</a>
					<a th:each="editionName : ${page.previousEditionNames}" class="navbar-link" 
						th:href="${'/editions-precedentes/' + editionName}" th:text="${editionName}">2020</a>
				</div>
			</div>
			<div class="spacer"></div>
			<a class="navbar-social-link" href="https://mastodon.social/@lemauditfestival" target="_blank" aria-label="Mastodon">
				<svg th:replace="~{fragments/svg :: mastodon-logo}"></svg>
			</a>
			<a class="navbar-social-link" href="https://www.facebook.com/LeMauditFestival/" target="_blank" aria-label="Facebook" rel="noreferrer">
				<svg th:replace="~{fragments/svg :: facebook-logo}"></svg>
			</a>
			<a class="navbar-social-link" href="https://www.instagram.com/lemauditfestival/" target="_blank" aria-label="Instagram" rel="noreferrer">
				<svg th:replace="~{fragments/svg :: instagram-logo}"></svg>
			</a>
			<a class="navbar-link" href="/contact">Contact</a>
		</div>
	</nav>
	<footer th:fragment="common-footer">
		<div class="footer-container">
			<div class="footer-logo-container">
				<div>
					<h2>Le Maudit Festival</h2>
					<th:block th:if="${page}">
					Édition <th:block th:text="${page.editionName}"/> : <th:block th:text="${page.editionTimePeriod}"/>
					<img src="/img/logo-terreur-nocture.png" alt="Terreur Nocturne" class="footer-logo">
					Terreur Nocturne - <th:block th:text="${page.editionName}"/>
					</th:block>
					<th:block th:unless="${page}">
					Le maudit Festival, par Terreur Nocturne
					<img src="/img/logo-terreur-nocture.png" alt="Terreur Nocturne" class="footer-logo">
					Terreur Nocturne
					</th:block>
				</div>
			</div>
			<div>
				<h2>Menu</h2>
				<ul>
					<li><a href="/" class="footer_navigation">Accueil</a></li>
					<li><a href="/a-propos-du-maudit-festival" class="footer_navigation">Qui sommes-nous ?</a></li>
					<li><a href="/contact" class="footer_navigation">Contactez-nous</a></li>
					<li><a href="/uploads/press/MauditFestival.pdf" target="_blank" class="footer_navigation">Presse</a></li>
				</ul>
			</div>
			<div class="social-network-container">
				<h2>Suivez-nous</h2>
				<div class="social-network-links-container">
					<a href="https://mastodon.social/@lemauditfestival" target="_blank" aria-label="Mastodon">
						<svg th:replace="~{fragments/svg :: mastodon-logo}"></svg>
					</a>
					<a href="https://www.facebook.com/LeMauditFestival/" target="_blank" aria-label="Facebook" rel="noreferrer">
						<svg th:replace="~{fragments/svg :: facebook-logo}"></svg>
					</a>
					<a href="https://www.instagram.com/lemauditfestival/" target="_blank" aria-label="Instagram" rel="noreferrer">
						<svg th:replace="~{fragments/svg :: instagram-logo}"></svg>
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
