@font-face {
	font-family: "gill";
	src: url("/fonts/gill-sans-mt.ttf");
}
/*
* SAUT DE LIGNE POUR DAMIEN : 2rem
*/
:root {
	--maudit-purple: #682b95;
	--background-gray-color: #171c23;
	--light-gray: #6C7B91;
	--maudit-red : #bb0b0b;
	--maudit-blue : #0b245c;
	--maudit-yellow: #ffda00;
	--maudit-orange : #a53b1c;
	--light-blue : #3B5EAE;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	font-family: "gill", sans-serif ;
}
button, input, textarea {
	font: inherit;
}
p{
	font-size: 1.1rem;
	font-weight: lighter;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.error-message {
	color: red;
}
/* fix bug bootstrap burger*/
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	height: 35px;
	width: 35px;
	/*url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")*/
}
/* fix safari responsive bug */
.img-fluid{
  width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	display: flex;
}
/*
* HEADER
*/
.navbar{
	padding : 1rem 1rem;
	background-color: var(--maudit-blue);
	position: fixed !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	top: 30px;
	z-index: 100;
}
.header-logo {
	width: 50px;
}
.logo-mobile-header{
	display: none;
}
.navbar-nav{
	font-size: 1rem;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
}
.nav_style a{
	color: white;
	margin: 0 10px;
	text-decoration: none;
	border-bottom: solid 2px transparent;
	text-transform: uppercase;
}
.nav_style a:hover {
	border-color: white;
	color: white;
	text-decoration: none;
}
.dropdown_nav_style{
	background-color: var(--maudit-blue);
	padding:2%;
	margin-left: 7%;
}
.dropdown_nav_style a{
	margin-left: 0px;
	font-size: 1rem;
	border: 0px;
}
.dropdown_nav_style a:hover{
	background-color: var(--maudit-blue);
	border: 0px;
}
.hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 50em;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/img/logo-header-2021.webp);
	background-size: cover;
	background-position: 0% 53%;
	color: white;
	overflow: auto;
}
.short-hero {
	height: 40em;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/img/logo-header-2021.webp);
	background-size: cover;
	background-position: 0% 57%;
}
.hero_content{
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.hero h2::first-letter {
	text-transform: capitalize;
}
.white-button {
	display: inline-block;
	padding: 10px;
	color: white;
	border: 2px solid white;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 0.25s;
	cursor: pointer;
}
.white-button:hover {
	background: white;
	text-decoration: none;
	color: var(--maudit-red);
}
.container-home{
	background-color: rgba(11, 36, 92, 0.2);
	padding: 2%;
}
.container-home h1{
	opacity: 1;
}
.container-home h2{
	opacity: 1;
}
.container-home a{
	opacity: 1;
}

/*
* MEDIA HEADER
*/
@media (max-width: 992px) {
	.logo-long-header{
		display: none;
	}
	.logo-mobile-header{
		display: block;
	}
	.hero{
		height: 40em;
		margin-top:-30px;
	}
	.dropdown-menu{
		border:0px;
	}
	.navbar-nav li{
		margin-bottom: 1rem;
	}
}
@media (max-width: 700px) {
	.logo-long-header{
		display: none;
	}
	.logo-mobile-header{
		display: block;
	}
	.hero{
		height: 30em;
		margin-top:0px;
		background-size: 250%;
		background-position: 53% 53%;
	}
}
/*
* Homepage programmation
*/
/* COVID */
.communique_covid{
	padding-top: 2%;
	padding-bottom: 2%;
}
.communique_covid h2{
	margin-bottom: 3rem;
}
.programmation-section {
	color: white;
	background: rgb(17,22,29);
	background: linear-gradient(90deg, rgba(17,22,29,1) 0%, rgb(25, 36, 56) 38%, rgba(11, 36, 92, 1) 100%);
}
.programmation_list_days{
	text-align: center;
	padding-top: 3%;
	color: white;
	font-size: 1.3em;
}
.programmation_list_days a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.programmation_list_days a:hover{
	color: #682b95;
	color: var(--maudit-red);
}
.day_programmation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: white;
	padding-bottom: 15px;
}
.day_programmation h4{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 10px;
	margin-top: 10px;
}
.programmation-day-recap{
	/* border-left: 2px solid var(--maudit-red); */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
  justify-content: space-around;
}
.programmation-day-recap article{
	text-align: center;
	margin-bottom: 15px;
}
.programmation-day-recap img{
	max-width: 200px;
	max-height: 275px;
}
.know_more_programmation{
	display: inline-block;
	background: var(--maudit-red);
	padding: 10px 20px !important;
	color: white;
	text-decoration: none;
	border: 0;
	transition-timing-function: ease-in;
	transition-property: background-color;
	transition-duration: 0.5s;
	margin-top: 7%;
}
.know_more_programmation:hover{
	color:var(--maudit-red);
	background: white;
	text-decoration: none;
	transition-timing-function: ease-in;
	transition-property: background-color;
	transition-duration: 1s;
}
/*
* MEDIA PROGRAMMATION
*/
@media (max-width: 539px) {
	.programmation-day-recap {
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 20px;
	}
}
/*
* Homepage Download
*/
.download-section {
	background-color: var(--maudit-blue);
	color: white;
	fill: white;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 2em;
}
.download-section a{
	color: inherit;
	text-decoration: none;
}
.download-section svg {
	height: 1em;
	width: auto;
}
/*
* Homepage Tarif
*/
.practical-info-section-background{
	background-color: var(--background-gray-color);
}
.practical-info-section, .contact-section {
	background: var(--background-gray-color);
	color: white;
}
.practical-info-section {
	padding-top: 2%;
	padding-bottom: 5%;
}
.practical-info-section h4 {
	color: var(--maudit-red);
	font-size: 35px;
}
.practical-info-section ul {
	list-style: none;
}
.tarif-comment{
	color: var(--maudit-red);
}
.tarif-comment:hover{
	color: var(--maudit-red);
}
.map_home{
	margin-left: 5%;
}
#gmaps-iframe {
/* 	width:100%;  */
	max-width:800px;
	width:100%;
	height:600px;
	border:0;
}
/*
* Partner
*/
.partner-section h3 {
	text-align: center;
	color: #682b95;
	color: var(--maudit-red);
	text-transform: uppercase;
}
.partner-carroussel {
	width: 80%;
	margin: auto;
}
.partner-carroussel a {
	display: block;
	margin: 10px;
}
.partner_image {
	width: 100%;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
/*
* FOOTER
*/
footer {
	background: var(--background-gray-color);
	color: white;
	padding: 80px 0;
}
.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.footer-container a:hover{
	text-decoration: none;
	color: var(--maudit-red);
}
.footer-logo {
	height: 50px;
	display: block;
}
footer h2 {
	color: var(--maudit-red);
	font-size: 20px;
	margin: 0px;
}
footer ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0px;
}
footer ul li{
	margin-bottom: 2%;
}
footer ul li:before{
	content: '>';
	margin-right: 5px;
}
footer a {
	color: white;
	text-decoration: none;
}
/* simplify the click in mobile */
.footer_navigation{
	font-size: 1.1rem;
}
footer a.external_link {
	color: var(--maudit-red);
	text-decoration-color: white;
}
footer a.external_link:hover {
	text-decoration-line: underline;
	text-decoration-color: var(--maudit-red);
}
.social-network-links-container a {
	margin-top: 10px;
	display: inline-block;
	background: var(--maudit-red);
	border-radius: 1000px;
	padding: 10px;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.social-network-links-container svg {
	fill: white;
	height: 20px;
	width: 25px;
	padding: 0px;
}
.social-network-links-container a:hover {
	background: white;
}
.social-network-links-container a:hover svg {
	fill: var(--maudit-red);
	stroke: var(--maudit-red);
}
/*
* FOOTER MEDIA
*/
@media (max-width: 850px) {
	.footer-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	.footer-container > * {
		margin-bottom: 40px;
		margin-left: 60px;
	}
}
/*
* @rework
* media permettant d'avoir une navigation plus facilement utilisable en mobile
*/
@media (max-width: 1100px) {
	.footer ul{
		width: 250px;
	}
	.footer_navigation{
		font-size: 1.2rem;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-right: 15%;
	}
}
/*
* CONTACT PAGE
*/
.contact-section{
	margin-top: -16px;
	margin-bottom: -16px;
}
.first_p_contact{
	padding-top: 2rem;
}
.contact-section input, .contact-section textarea {
	display: block;
	color: white;
	background: transparent;
	border: transparent;
	border-bottom: 1px solid white;
	width: 100%;
	margin: 50px auto;
}
.contact-message-confirm-success{
	font-size: 8vh;
	margin: 200px 0;
	text-align: center;
}
.contact-section input:focus, .contact-section textarea:focus {
	border-bottom: 1px solid var(--maudit-red);
	background: var(--background-gray-color);
	color: white;
}
.contact-submit-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
/*
* FILM DETAIL PAGE
*/
.film-recap-section{
	background-color: var(--background-gray-color);
	margin-top: -20px;
	color: white;
}
.film-screening-date {
	background-color: var(--maudit-red);
	text-align: center;
	font-size: 1.2em;
	margin: 30px -15px;
	padding: 2%;
}
.film-screening-date .calendar-date {
	text-transform: capitalize;
}
.location-infos{
	margin-bottom: 5%;
}
.technical-info-sidebar-inner {
	margin-left: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
.technical-info-sidebar .poster {
	margin-top: 40px;
	width: 100%;
}
.film-date-and-time-center {
	text-align: center;
	margin: 10px 0;
}
.partnership {
	margin: 30px 0;
}
.description-container{
	margin-top: 1%;
}
.description-container h1 {
	text-align: center;
	font-size: 4em;
	margin-top: 1%;
	margin-bottom: 2%;
	opacity: 1;
}
.container-img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 2%;
}
.container-img img{
	width: 90%!important;
	align-items: center;
	height: calc(100% - 3em);7
}
.poster{
	max-width: 250px;
	max-height: 350px;
	min-width: 200px;
	min-height: 270px;
}
@media (max-width: 991px) {
	.film-screening-date{
		margin: 20px -15px;
		padding: 1%;
	}
}
/*
* PREVIOUS EDITION
*/
.previous_edition{
	background-image: url(/img/background-juliet_berto.jpeg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: var(--background-gray-color);
	padding-top: 2%;
	color: white;
	padding-bottom: 2%;
}
.previous_sidemenu{
	padding:1%;
	border-bottom-right-radius: 22% 66%;
	color: white;
	background-color: var(--light-blue);
	text-decoration: none;
	height: max-content;
	position: fixed;
	top: 190px;
	z-index: 10000;
	font-family: "gill";
}
.previous_edition h2{
	margin-bottom: 2rem;
	opacity: 1;
}
.previous_sidemenu h3{
	text-decoration: underline 3px solid var(--maudit-red);
}
.previous_sidemenu a{
	color: white;
}
.previous_sidemenu ul{
	margin-left: 5%;
}
.history_introduction{
	margin-bottom: 4rem;
}
.previous_programmation_list_days{
	text-align: center;
	margin-top: 2rem;
	color: white;
	font-size: 1.3em;
	margin-bottom: 2rem;
}
.previous_programmation_list_days a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.previous_programmation_list_days a:hover{
	color: var(--maudit-red);
}
.day_previous_programmation{
	color: white;
}
.content_previous_list{
	margin-top: 10px;
	margin-left: 1%;
}
.day_previous_programmation h4{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 9px;
	margin-top: 9px;
}
.previous-programmation-day-recap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-left: 2px solid var(--maudit-red);
	padding-left: 2%;
	padding-top: 10px;
}
.previous-programmation-day-recap article{
	text-align: center;
	margin-bottom: 15px;
	min-width: 15px;
	margin-right: 2em;
}
.previous-programmation-day-recap img{
	max-width: 200px;
	max-height: 267px;
	min-width: 200px;
	min-height: 267px;
	object-fit: scale-down;
}
.know_more_previous_programmation{
	display: inline-block;
	background: var(--maudit-red);
	padding: 10px 20px !important;
	color: white;
	text-decoration: none;
	border: 0;
	transition-timing-function: ease-in;
	transition-property: background-color;
	transition-duration: 1s;
	margin-top: 20px;
}
.know_more_previous_programmation:hover{
	color:var(--maudit-red);
	background: white;
	text-decoration: none;
	transition-timing-function: ease-in;
	transition-property: background-color;
	transition-duration: 0.5s;
}
.previous_edito h2, .previous_teaser h2, .previous_guests h2, .previous_partners h2, .previous_places h2, .previous_figures h2,.previous_press h2{
	margin-top: 2%;
	margin-bottom: 1%;
}
.previous_guests{
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.previous_guests h3{
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.guest_img{
	display: flex;
	justify-content: center;
}
.guest_img img{
	width: 50%;
}
.previous_edito p{
	line-height: 30px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.previous_teaser{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
.previous_teaser iframe{
	align-self: center;
}
/*
* MEDIA PREVIOUS EDITION
*/
@media (min-width: 1625px) {
	.previous-programmation-day-recap article{
		margin-right: 70px;
	}
}
@media (max-width: 767px) {
	.previous-programmation-day-recap {
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 20px;
	}
	.day_previous_programmation {
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
@media (max-width: 992px) {
	.previous_sidemenu{
		background-color: var(--light-blue);
		position:initial;
		border-bottom-right-radius: 0% 0%;
		text-align: center;
		margin-top: -20px;
	}
	.previous_sidemenu ul{
		margin-left:0px;
	}
	.day_previous_programmation {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
@media (max-width: 1460px) {
	.previous-programmation-day-recap img{
		min-width: 180px;
		min-height: 240px;
	}
}
@media (max-width: 1300px) {
	.previous-programmation-day-recap img{
		min-width: 170px;
		min-height: 227px;
	}
}
@media (max-width: 1260px) {
	.previous-programmation-day-recap img{
		min-width: 150px;
		min-height: 200px;
	}
}
@media (max-width: 1120px) {
	.previous-programmation-day-recap img{
		min-width: 140px;
		min-height: 187px;
	}

}
@media (max-width: 1040px) {
	.previous-programmation-day-recap img{
		min-width: 130px;
		min-height: 174px;
	}
}
/*
* ABOUT
*/
.background_about{
	background: rgb(17,22,29);
	background: linear-gradient(90deg, rgba(17,22,29,1) 0%, rgba(16,23,35,1) 38%, rgba(11,27,62,1) 100%);
	padding-top: 2%;
	color: white;
	padding-bottom: 5%;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid var(--maudit-red);
}
.about_sidebar{
	padding-right: 2%;
}
.about_sidebar h3{
	text-decoration: underline solid var(--maudit-red);
	text-underline-offset: 6px;
}
.about_sidebar ul{
	list-style: none;
	margin-top: 8%;
}
.about_sidebar li{
	margin-bottom: 4%;
	line-height: 25px;
}
.span_about_sidebar{
	font-weight: bold;
}
.about_sidebar p{
	margin-top: 0px;
}
.about_main{
	padding-left: 7%;
}
.about_main h2{
	margin-bottom: 3%;
}
.about_main h3{
	margin-bottom: 1%;
	margin-left: 4%;
}
.about_main p{
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 25px;
}
/*
* HISTORY
*/
.span_history{
	font-weight: bold;
}
