<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<th:block th:replace="fragments/common :: common-header-values (
		canonicalurl='https://lemauditfestival.com/a-propos-du-maudit-festival',
		title='Qui sommes nous  - Le Maudit Festival',
		description='Contactez Terreur Nocturne, association organisatrice du Maudit Festival : terreur.nocturne.asso@gmail.com',
		page=${page}
		)" />

	<th:block th:replace="fragments/common :: owa-script" />
</head>
<!--TODO-->
<body>
	<header th:replace="fragments/common.html :: common-navbar"></header>
	<section class="hero short-hero">
	</section>
	<section class="background_about">
		<div class="container-fluid row">
			<div class="col-md-3 about_sidebar">
					<h3>La maudite équipe</h3>
					<ul>
						<li><span class="span_about_sidebar">Coordination de la programmation</span> : <p>Damien Grimbert, Sarah Onave</p></li>
						<li><span class="span_about_sidebar">Coordination de la communication</span> : <p>Hélène Godin, Céline Palermo</p></li>
						<li><span class="span_about_sidebar">Conseil d'administration</span> : <p>Hélène Godin, Simon Lassalle, Sarah Onave, Fabien Vuitton</p></li>
						<li><span class="span_about_sidebar">Site web</span> : <p>Jean-Alexandre Anglès d'Auriac, Aurélien Boncenne</p></li>
						<li><span class="span_about_sidebar">Ils sont aussi maudits</span> : <p>Sophie Césari,Gregory Vaumourin</p></li>
				</ul>
			</div>
			<div class="col-md-9 about_main">
				<div class="row">
						<div class="col-md-6">
							<h2>Qui sommes-nous ?</h2>
							<p>Organisé chaque année à Grenoble pendant la troisième semaine du mois de janvier, Le Maudit Festival (ex-Festival des Films Maudits) défend un cinéma passionnel, fulgurant, débridé et incandescent, longtemps resté à la marge d’une certaine cinéphilie « officielle ».</p>
							<p>Proposant une sélection de films emblématiques et de perles rares méconnues en provenance de tous les pays, de toutes les époques et de tous les horizons, il défend le cinéma en tant qu’expérience à la fois collective et singulière.</p>
							<p>Retrouver toutes les informations essentielles sur Le Maudit Festival en téléchargeant la <a class="link" target="plaquette" th:href="${page.pdfUrl}" >maudite plaquette</a>.</p>
						</div>
						<div class="col-md-6">
							<img src="/img/background-juliet_berto.jpeg" th="nom_fichier" loading="lazy"  class="img-fluid">
						</div>
					</div>
					<hr/>
					<h2>Le festival jour par jour </h2>
					<h3>Mardi : La séance d’ouverture</h3>
					<p>Une œuvre phare, un·e réalisateur·trice emblématique… La porte d’entrée idéale pour découvrir notre univers.</p>
					<h3>Mercredi : La séance ciné-club</h3>
					<p>Certains films cachent bien leur jeu : avec cette séance, nous cherchons dans les marges d’une cinéphilie d’apparence plus classique la perle rare qui vous marquera à vie.</p>
					<h3>Jeudi : La soirée arthouse</h3>
					<p>Sorte de cabinet des curiosités cinématographiques, cette soirée met en avant les films les plus étranges, envoûtants, oniriques, psychédéliques…</p>
					<h3>Vendredi : La soirée... où tout peut arriver</h3>
					<p>A mi-chemin entre l’envoûtante soirée du jeudi et la frénétique soirée du samedi, la double-séance du vendredi est celle qui garde le plus de possibilités ouvertes. Une chose est sûre, on s’occupera bien de vous.</p>
					<h3>...Et la séance de minuit !</h3>
					<p>Est-il seulement besoin de la présenter ? La séance de minuit, c’est la séance culte par excellence, une vénérable tradition que nous n’avons pas inventée… mais que nous entendons bien perpétuer.</p>
					<h3>Samedi : La séance découverte</h3>
					<p>Amateur·trice·s de nouveauté et d’inédit ? On vous offre l’occasion de découvrir avant tout le monde un film encore jamais sorti en salles.</p>
					<h3>Et la soirée grindhouse !</h3>
					<p>Rendez-vous incontournable du festival, la soirée grindhouse, c’est un peu l’équivalent du bouquet final dans un feu d’artifice : du bruit, de la fureur, mais avant tout… du cinéma. Réservations plus que conseillées !</p>
					<h3>Dimanche : la dernière séance</h3>
					<p>Parce que les lendemains de fête sont souvent les plus réussis, on se projette un dernier film tou.te.s ensemble avant de se quitter jusqu’à l’année suivante.</p>
					<h3>Le Maudit Festival... versant off</h3>
					<p>Parce que Le Maudit Festival... ce n’est pas que du cinéma : musique, littérature, arts graphiques, conférences, rencontres avec des auteur·trice·s... Nous cherchons à créer une atmosphère conviviale dans des lieux propices aux échanges et aux discussions passionnées.</p>
				</div>
		</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/common.html :: common-footer">
	</footer>
</body>
</html>
