<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title  th:text="${filmDisplayer.title}">Titre du film</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  	<form th:action="@{bo/film/save-edit}" th:method="post" th:object="${form}">
  		<input type="hidden" th:value="*{id}">
  		<input type="text" th:value="*{title}">
  		<textarea th:value="*{description}"></textarea>
  		<input type="submit">
  	</form>  
  </body>

</html>