<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<th:block th:if="${page.filmDisplayer.director == null}" th:include="fragments/common :: common-header-values (
		canonicalurl=${'https://lemauditfestival.com/film/'+page.filmDisplayer.textualId},
		title=${page.filmDisplayer.title + ' - Le Maudit Festival'},
		description=${page.filmDisplayer.date + ' - ' +page.filmDisplayer.title},
		page=page
		)" />

	<th:block th:unless="${page.filmDisplayer.director == null}" th:include="fragments/common :: common-header-values (
		canonicalurl=${'https://lemauditfestival.com/film/'+page.filmDisplayer.textualId},
		title=${page.filmDisplayer.title + ' - Le Maudit Festival'},
		description=${page.filmDisplayer.date + ' - projection de ' + page.filmDisplayer.title + ' de ' + page.filmDisplayer.director +'. ' +
		'Un film de ' + page.filmDisplayer.releaseDate + ' - '+ page.filmDisplayer.nationality + '. Avec ' + page.filmDisplayer.casting + '.'},
		page=page
		)" />

	<!-- Open Graph meta pour Facebook -->
	<meta property="og:title" th:content="${page.filmDisplayer.title + ' - Le Maudit Festival'}" />
	<meta property="og:url" content="https://www.festivaldesmauditsfilms.com/" />
	<meta th:if="${page.filmDisplayer.posterUrl != null}" property="og:image" th:content="${'https://www.festivaldesmauditsfilms.com'+page.filmDisplayer.posterUrl}" />
	<meta th:if="${page.filmDisplayer.director != null}" property="og:description" th:content="${page.filmDisplayer.date + ' - projection de ' +page.filmDisplayer.title + ' de ' +page.filmDisplayer.director +'. Un film de '
	+ page.filmDisplayer.releaseDate+ ' - '+ page.filmDisplayer.nationality + '. Avec ' + page.filmDisplayer.casting} + '.'" />
	<meta th:if="${page.filmDisplayer.director == null}" property="og:description" th:content="${page.filmDisplayer.date + ' - ' +page.filmDisplayer.title}" />
	<meta property="og:site_name" content="Le Maudit Festival" />
	<meta property="og:type" content="article" />
	<!-- Card meta pour Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@MauditFestival">
	<meta name="twitter:title" th:content="${page.filmDisplayer.title + ' - Le Maudit Festival'}" />
	<meta th:if="${page.filmDisplayer.director != null}" name="twitter:description" th:content="${page.filmDisplayer.date + ' - projection de ' +page.filmDisplayer.title + ' de ' +page.filmDisplayer.director +'. Un film de '
	+ page.filmDisplayer.releaseDate+ ' - '+ page.filmDisplayer.nationality + '. Avec ' + page.filmDisplayer.casting} + '.'" />
	<meta th:if="${page.filmDisplayer.director == null}" name="twitter:description" th:content="${page.filmDisplayer.date + ' - ' +page.filmDisplayer.title}" />
	<!-- Twitter summary card avec image large de 280x150px -->
	<meta th:if="${page.filmDisplayer.posterUrl != null}" name="twitter:image:src" th:content="${'https://www.festivaldesmauditsfilms.com'+page.filmDisplayer.posterUrl}" />
	<th:block th:replace="fragments/common :: owa-script" />
</head>

<body>
	<header th:replace="fragments/common.html :: common-navbar"></header>
	<div class="hero short-hero"></div>

	<section class="film-recap-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 sidebar_film">
					<div class="film-screening-date">
						<span class="calendar-date" th:text="${page.filmDisplayer.date}"></span>
						à
						<span class="start-time" th:text="${page.filmDisplayer.startTime}">23h</span>
					</div>
					<div class="technical-info-sidebar-inner">
						<div class="location-infos" th:text="${page.filmDisplayer.locationName + ', ' +page.filmDisplayer.locationAddress}"></div>
						<div class="content_poster">
							<img class="poster img-fluid rounded" th:src="${page.filmDisplayer.posterUrl}" th:alt="${'Poster de «' + page.filmDisplayer.title + '»'}">
						</div>
						<div class="film-date-and-time-center">
							<th:block th:if="${page.filmDisplayer.releaseDate != null}" th:text="${page.filmDisplayer.releaseDate}"></th:block>
							<th:block th:if="${page.filmDisplayer.releaseDate != null && page.filmDisplayer.duration != null}">-</th:block>
							<th:block th:if="${page.filmDisplayer.duration != null}" th:text="${page.filmDisplayer.duration}"></th:block>
						</div>
						<div th:if="${page.filmDisplayer.ageRating != null}" th:text="${page.filmDisplayer.ageRating}">Interdit aux plus de 20 ans</div>
						<div th:if="${page.filmDisplayer.director != null}" th:text="${'Réalisé par ' + page.filmDisplayer.director}">Réalisé par Bugs Bunny</div>
						<div th:if="${page.filmDisplayer.scenarist != null}" th:text="${'Scénario par ' + page.filmDisplayer.scenarist}">Scénario par Bugs Bunny</div>
						<div th:if="${page.filmDisplayer.nationality != null}" th:text="${page.filmDisplayer.nationality}">Belgo-Hongrois</div>
						<div th:if="${page.filmDisplayer.casting != null}" th:text="${'Avec ' + page.filmDisplayer.casting}">avec Bugs Bunny</div>
						<div class="partnership" th:if="${page.filmDisplayer.partner != null && page.filmDisplayer.partner != ''}" th:text="${'En partenariat avec ' + page.filmDisplayer.partner}">avec Bugs Bunny</div>

						<a class="purple-button" th:if="${page.filmDisplayer.buyUrl != null}" th:href="${page.filmDisplayer.buyUrl}" target="maudit-shop">
							<button type="button" class="btn btn-danger">Acheter ma place</button></a>
					</div>
				</div>
				<div class="col-lg-10 description-container">
					<h1 th:text="${page.filmDisplayer.title}">Qui veut la peau de Bugs Bunny?</h1>
					<p text:bbcode="${page.filmDisplayer.description}" ></p>
						<div class="container container-img">
								<img loading='lazy' th:if="${page.filmDisplayer.sampleImageUrl != null}" th:src="${page.filmDisplayer.sampleImageUrl}" th:alt="${'Extrait de «' + page.filmDisplayer.title + '»'}" class="img-fluid">
							</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/common.html :: common-footer">
	</footer>
</body>
</html>
