<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<th:block th:replace="~{fragments/common :: common-header-values (
		canonicalurl='https://lemauditfestival.com',
		title='Le site du Maudit Festival',
		description='Toutes les informations sur ce festival dédié à un cinéma étrange et méconnu à Grenoble : programmation, films, rencontres, événements.',
		shareImageUrl=${page.shareImageUrl}
		)}" />

	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick.css" async/>
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick-theme.css" async/>
	<th:block th:replace="~{fragments/common :: owa-script}" />
</head>

<body class="homepage">
	<nav th:replace="~{fragments/common.html :: common-navbar}"></nav>
	<div class="hero">
		<img th:src="${page.heroUrl}" />
	</div>
	<section id="editorial" th:if="${page.editorial != null && page.currentEvent == null}" class='editorial-section'>
		<div>
			<h3 class="section-headline">Éditorial</h3>
			<div class="editorial-and-poster">
				<p text:bbcode="${page.editorial}" class="user-format"></p>
				<img style="max-width: 500px;" th:src="${page.posterUrl}" th:if="${page.posterUrl != null}"/>
			</div>
		</div>
	</section>
	<section id="teaser" th:if="${page.teaserVideoUrl != null && page.currentEvent == null}" class='programmation-section'>
		<div>
			<h3 class="section-headline">Teaser</h3>
			<div class="video-container">
				<div class="placeholder">
					<p>Si vous affichez le trailer, Google pourra déposer des cookies sur votre ordinateur.</p>
					<a class="btn-purple" onclick="showTrailer()">Cliquez ici pour afficher le lecteur YouTube</a>
				</div>
				<iframe id="teaser-iframe" class="embed-responsive-item" title="Teaser" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<script th:inline="javascript">
		function showTrailer() {
			document.getElementById('teaser-iframe').src=/*[[${page.teaserVideoUrl}]]*/ url;
			document.getElementById('teaser-iframe').style.zIndex = 1;
		}
	</script>

	<section id="programmation" th:if="${page.currentEvent == null}" class="programmation-section">
		<h3 class="section-headline">Programmation</h3>
		<div class="container">
			<div class="off_programmation" th:unless="${page.beforeEvents.isEmpty()}">
				<h3>Avant le festival</h3>
				<ul>
					<li th:each="event : ${page.beforeEvents}">
						<div class="off_programmation_line">
							<span th:text="${event.displayDate}">Le 12 Décembre <span class="separator">:</span></span>
							<div class="relator"></div> 
							<span class="off_programmation_button">
								<th:block th:text="${event.title}">The Fantasy of the Deer Warrior</th:block> 
								<a class="know_more btn-purple" th:href="@{${page.currentRoot + 'film/'+ event.textualId}}">En savoir plus</a>
							</span>
							<span class="off_programmation_link">
								<a th:href="@{${page.currentRoot + 'film/'+ event.textualId}}" th:text="${event.title}">The Fantasy of the Deer Warrior</a>
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="programmation_list_days">
				<th:block th:each="day : ${page.days}">
					<a th:text="${day.displayDate}" th:href="'#'+${day.date}"></a>
					<span>/</span>
				</th:block>
			</div>
			<div class="day_programmation">
				<div th:each="day : ${page.days}" th:id="${day.date}" class="programmation_list">
					<h4 th:text="${day.displayDate}"></h4>
					<div class="programmation-day-recap row">
						<article th:each="film : ${day.films}">
							<header>
								<a th:if="${film.textualId != null}" th:href="@{${page.currentRoot + 'film/'+ film.textualId}}" class="link_img_previous"><img th:src="*{film.imageUrl}" class="img-fluid rounded" th:alt="${film.title}" loading="lazy"></a>
								<a th:unless="${film.textualId != null}" class="link_img_previous"><img src="/img/unannounced_movie_poster.jpg" class="img-fluid rounded" alt="Poster non dévoilé" loading="lazy"></a>
							</header>
							<div th:text="${film.startTime}"></div>
							<div><span th:text="${film.title != null ? film.title : 'Film pas encore annoncé'}"></span></div>
							<div th:text="${film.locationName}"></div>
							<a th:if="${film.textualId != null}" th:href="@{${page.currentRoot + 'film/'+ film.textualId}}" class="know_more btn-purple">En savoir plus</a>
						</article>
					</div>
				</div>
			</div>
			<div class="off_programmation" th:unless="${page.afterEvents.isEmpty()}">
				<h3>Après le festival</h3>
				<ul>
					<li th:each="event : ${page.afterEvents}">
						<div class="off_programmation_line">
							<span th:text="${event.displayDate}">Le 12 Décembre <span class="separator">:</span></span>
							<div class="relator"></div> 
							<span class="off_programmation_button">
								<th:block th:text="${event.title}">The Fantasy of the Deer Warrior</th:block> 
								<a class="know_more btn-purple" th:href="@{${page.currentRoot + 'film/'+ event.textualId}}">En savoir plus</a>
							</span>
							<span class="off_programmation_link">
								<a th:href="@{${page.currentRoot + 'film/'+ event.textualId}}" th:text="${event.title}">The Fantasy of the Deer Warrior</a>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<div th:if="${page.pdfUrl != null}" class="download-section">
		<a th:href="${page.pdfUrl}" target="plaquette">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
			<path d="M448.608,351.791c-18.444,0-33.4,14.952-33.4,33.396v52.055H96.788v-52.055c0-18.443-14.952-33.396-33.396-33.396 s-33.396,14.952-33.396,33.396v85.451c0,18.443,14.952,33.4,33.396,33.4h385.217c18.443,0,33.396-14.957,33.396-33.4v-85.451 C482.005,366.743,467.052,351.791,448.608,351.791z"/>
			<path d="M245.918,387.325c5.563,5.559,14.6,5.559,20.157,0l117.039-117.038c3.41-3.41,4.423-8.532,2.579-13 c-1.844-4.45-6.18-7.351-11.012-7.351h-54.954V34.024c0-14.402-11.661-26.063-26.06-26.063h-75.323 c-14.398,0-26.06,11.66-26.06,26.063v215.912h-54.973c-4.827,0-9.163,2.9-11.007,7.351c-1.844,4.468-0.83,9.59,2.575,13 L245.918,387.325z"/>
		</svg>
		Télécharger la programmation</a>
	</div>
	<section th:if="${page.guests.size() > 0}" class='guests programmation-section'>
		<h3 class="section-headline">Invités</h3>
		<div class="guests-container">
			<div class="guest-container" th:each="guest : ${page.guests}">
				<h3 th:text="${guest.name}"></h3>
				<div>
					<p class="guest-description user-format" text:bbcode="${guest.description}"></p>
					<div class="guest_img">
						<img th:src="${guest.imageUrl}" th:if="${guest.imageUrl!= null}" loading="lazy"	class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="programmation-section" th:if="${page.credits != null}">
		<h3 class="section-headline">La maudite équipe <th:block th:text="${page.editionName}"/></h3>
		<ul>
			<li th:each="position : ${page.credits}"><span class="span_about_sidebar" th:text="${position.name}">Role</span>&nbsp;: 
				<p>
					<th:block th:each="crew, iter : ${position.crews}">
						<span th:text="${crew}"></span><th:block th:if="${!iter.last}">, </th:block>
					</th:block>
				</p>
			</li>
		</ul>
	</section>
	<section id="pratique" th:if="${page.currentEvent == null}" class="practical-info-section">
		<h3 class="section-headline">Infos pratiques</h3>
		<div class="practical-container">
			<div class="practical-text">
				<div>
					<h4>Tarifs</h4>
					<ul>
						<li class="bbcode" th:each="ticket : ${page.tickets}" text:bbcode="${ticket}">Cinéma Juliet Berto : <span class="tarif">6,50€/5,50€</span></li>
					</ul>
				</div>
				<div>
					<h4>Les lieux</h4>
					<p>
						Sauf indication contraire, les projections se déroulent au Cinéma Juliet Berto, à Grenoble. La salle est accessible aux PMR (personnes à mobilité réduite)
						<ul>
							<li>Cinéma Juliet Berto / Passage du Palais de Justice, Grenoble</li>
							<li>Mon Ciné / 10, avenue Ambroise Croizat, Saint-Martin-d’Hères</li>
							<li>Le Ciel / 2, rue Général Marchand, Grenoble</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<script>
			function showMap() {
				document.getElementById('gmaps-iframe').src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCQr2ekQY5Ri4ERwZyQWVSwYBqVXczaIe0&q=Salle+Juliet+Bertho,+Grenoble';
				document.getElementById('gmaps-iframe').style.zIndex = 1;
			}
		</script>

		<!-- <div>
			<h4>Programmation off</h4>
			<p>
				On vous prépare encore de belles choses la semaine précédant le festival! Pour vous tenir informé⋅e⋅s, suivez-nous sur nos réseaux sociaux et sur notre site lemauditfestival.com
			</p>
		</div>-->
	</section>

	<div class="partner-section">
		<h3>Merci à nos partenaires</h3>
		<div class="partner-carroussel">
			<div th:each="sponsor : ${page.sponsors}">
				<a th:href="${sponsor.targetUrl}" target="_blank" th:aria-label="${sponsor.name}" th:title="${sponsor.name}">
					<div th:style="${'background-image:url(' + sponsor.logoUrl +');'}" class="partner_image"></div>
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="~{fragments/common.html :: common-footer}">
	</footer>
	<script src="/plugins/slick-1.8.1/slick/slick.min.js" type="text/javascript"></script>
	<script>
		$('.partner-carroussel').slick({
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1000,
			centerMode: false
		});
	</script>
</body>

</html>
