<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<link rel="icon" href="/favicon.ico" />
	<title>Le site du Maudit Festival</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Toutes les informations sur ce festival dédié à un
cinéma étrange et méconnu à Grenoble : programmation, films, rencontres, événements."/>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.1.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="plugins/slick-1.8.1/slick/slick.css" async/>
	<link rel="stylesheet" type="text/css" href="plugins/slick-1.8.1/slick/slick-theme.css" async/>

	<!-- js -->
	<script src="/plugins/jquery-3.4.1.min.js"></script>
	<script src="/plugins/bootstrap-4.1.3.min.js"></script>
</head>
<body>
	<nav th:replace="fragments/common.html :: common-navbar"></nav>
	<div class="hero">
		<div class="container hero_content">
			<h1>Le Maudit Festival</h1>
			<h2><th:block th:text="${page.editionTimePeriod}"/> <th:block th:text="${page.editionName}"/></h2>
			<a href="#programmation" class="white-button">Voir la programmation</a>
		</div>
	</div>
	<section id="programmation" class="programmation-section">
		<div class="container programmation_list_days">
			<th:block th:each="day : ${page.days}">
				<a th:text="${day.displayDate}" th:href="'#'+${day.date}"></a>
				<span>/</span>
			</th:block>
		</div>
		<div class="container">
			<div th:each="day : ${page.days}" th:id="${day.date}" class="row day_programmation">
				<h4 th:text="${day.displayDate}"></h4>
				<div class="programmation-day-recap">
					<article th:each="film : ${day.films}">
						<header>
							<a th:href="@{'/film/'+${film.textualId}}"><img th:src="*{film.imageUrl}" class="img-fluid rounded" th:alt="${film.title}" loading="lazy"></a>
						</header>
						<div th:text="${film.startTime}"></div>
						<div th:text="${film.title}"></div>
						<div th:text="${film.locationName}"></div>
						<a th:href="@{'/film/'+${film.textualId}}" class="know_more_programmation">En savoir plus</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section class="download-section">
		<a href="/document/livret.pdf">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
			<path d="M448.608,351.791c-18.444,0-33.4,14.952-33.4,33.396v52.055H96.788v-52.055c0-18.443-14.952-33.396-33.396-33.396 s-33.396,14.952-33.396,33.396v85.451c0,18.443,14.952,33.4,33.396,33.4h385.217c18.443,0,33.396-14.957,33.396-33.4v-85.451 C482.005,366.743,467.052,351.791,448.608,351.791z"/>
			<path d="M245.918,387.325c5.563,5.559,14.6,5.559,20.157,0l117.039-117.038c3.41-3.41,4.423-8.532,2.579-13 c-1.844-4.45-6.18-7.351-11.012-7.351h-54.954V34.024c0-14.402-11.661-26.063-26.06-26.063h-75.323 c-14.398,0-26.06,11.66-26.06,26.063v215.912h-54.973c-4.827,0-9.163,2.9-11.007,7.351c-1.844,4.468-0.83,9.59,2.575,13 L245.918,387.325z"/>
			</svg>
		Télécharger la programmation</a>
	</section>
	<section id="pratique" class="practical-info-section-background">
		<div class="practical-info-section container">
				<h4 class="row">Tarifs</h4>
					<p>
						Le festival étant accueilli par différentes structures, les prix peuvent différer. Merci de vous référer aux fiches de chaque séance.<br/>
						Les tarifs donnés ici correspondent aux séances en salle Juliet Berto, sauf la séance « Le Renne blanc » du Mecredi 22 Janvier, qui est aux tarifs du ciné-club de Grenoble.
					</p>
					<ul >
						<li>La séance, plein tarif: 6,50€</li>
						<li>Tarif jeune (moins de 14 ans): 4€</li>
						<li>Tarif réduit (moins de 26 ans, plus de 65 ans, demandeur d'emploi, carte mc2, carte tag, ticket ciné indépendant): 5€50</li>
						<li>Ticket suspendu (valable uniquement sur les séances en partenariat avec la Cinémathèque de Grenoble): 4€</li>

						<li>Pass 5 films: 27,50€<br/>
						<span>Cliquez <a class="tarif-comment"  href="https://www.helloasso.com/associations/terreur-nocturne/evenements/le-maudit-festival">ici</a> pour acheter en ligne. Ce pass donne accès à toutes les séances se déroulant dans le cinéma Juliet Berto.</span></li>
						<li>Séance GrindHouse - double programme: 12€</li>
						<li>Séance «&nbsp;Courts&nbsp;Maudits&nbsp;»: Entrée libre</li>
					</ul>
					<p>
						Pour la séance Cinéclub du Mercredi 22 Janvier :
					</p>
					<ul>
						<li>Tarif adhérent (sur présentation de la carte adhérent) : <span class="tarif">5€50</span></li>
						<li>Pour les non-adhérents au Ciné Club : merci d'acheter vos places directement le jour de la séance au cinéma Juliet Berto</li>
					</ul>
					<p>Nous ne pourrons malheureusement pas prendre la carte bancaire les soirs de projections au Cinéma Juliet Berto ni pour le ciné-brunch.Cependant, vous pouvez acheter vos places via notre billetterie en ligne <a class="tarif-comment" href="https://www.helloasso.com/associations/terreur-nocturne/annuaire">ici</a></p>
				<h4>Le lieu</h4>
				<p>
					Cinéma Juliet,<br/>Passage du Palais de Justice,<br/>38000 Grenoble.<br/>
					La salle est accessible aux PMR (personnes à mobilité réduite).
				</p>
				<div class="map_home">
					<iframe id="gmaps-iframe" title="Cinéma Juliet Berto" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCQr2ekQY5Ri4ERwZyQWVSwYBqVXczaIe0&q=Salle+Juliet+Bertho,+Grenoble" allowfullscreen=""></iframe>
				</div>
		</div>
	</section>
	<div class="partner-section">
		<h3>Merci à nos partenaires</h3>
		<div class="partner-carroussel">
			<div th:each="sponsor : ${page.sponsors}">
				<a th:href="${sponsor.targetUrl}" target="_blank">
					<div th:style="${'background-image:url(' + sponsor.logoUrl +');'}" class="partner_image"></div>
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/common.html :: common-footer">
	</footer>
	<script src="/plugins/slick-1.8.1/slick/slick.min.js"></script>
	<script>
		$('.partner-carroussel').slick({
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1000,
			centerMode: false
		});
	</script>
	<script src="/js/script.js"></script>
</body>
</html>
