<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Administration - Maudit Festival</title>
	<link rel="icon" href="/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-4.1.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bo-style.css" />

	<!-- js -->
	<script src="/plugins/jquery-3.4.1.min.js"></script>
	<script src="/plugins/bootstrap-4.1.3.min.js"></script>
</head>


<body class="container-fluid">
	<header class="admin_header">
		<a href="/" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>
		<h1 class="col-md-9 col-sm-7 col-6">Interface admin</h1>
	</header>
<section class="row">
	<div class="col-md-3 admin_sidebar">
		<ul>
			<li class="line_1"><a href="/bo">&lt;&lt; Back</a></li>
			<li class="line_1" th:if="${edition.name() == 'CURRENT'}"><a href="/">Preview</a></li>
			<li class="line_1" th:if="${edition.name() == 'NEXT'}"><a href="/bo/next">Preview</a></li>
			<li class="line_1"><a href="#filmAnchor">Films</a></li>
			<li class="line_1"><a href="#sponsorAnchor">Sponsors</a></li>
			<li class="line_1"><a href="#lookAnchor">Configuration</a></li>
			<li th:if="${edition.name() == 'NEXT'}">
				<form th:action="@{current}" th:method="post"
					onsubmit="return confirm('Êtes vous sûr de vouloir rendre public la nouvelle édition ?');">
					<button type="submit" class="btn btn-danger">Publier</button>
				</form>
			</li>
			<li class="line_1" th:if="${edition.name() == 'CURRENT'}"><a href="#boothPicturesAnchor">Mettre les photos booth</a></li>
		</ul>
	</div>
	<main class="admin_main col-md-8">
		<h2 id="filmAnchor" class="admin_title_next_edition" >Films </h2>
		<a class="btn btn-primary" href="film/create/new">Ajouter un film</a>
		<div class="row edition_content_film">
			<article th:each="film : ${page.films}" class="col-md-2">
				<header>
					<img th:if="${film.posterUrl!= null}" th:src="*{film.posterUrl}" style="height: auto" th:alt="${film.title}">
				</header>
				<p th:text="${film.title}"></p>
				<a th:href="${'film/edit/' + film.id}">Éditer</a>
			</article>
		</div>
		<h2 id="sponsorAnchor" class="admin_title_next_edition" >Sponsor </h2>
		<a class="btn btn-primary" href="sponsor/create/new">Ajouter un sponsor</a>
		<a class="btn btn-primary" href="sponsor/copy">Copier un sponsor</a>
		<div class="row edition_content_film">
			<article th:each="sponsor : ${page.sponsors}">
				<header>
					<img th:src="*{sponsor.logoUrl}" style="height: auto" th:alt="${sponsor.name}">
				</header>
					<p th:text="${sponsor.name}"></p>
					<a th:href="${'sponsor/edit/' + sponsor.id}">Éditer</a>
			</article>
		</div>
		<h2 id="lookAnchor" class="admin_title_next_edition">Configuration</h2>
		<div class="row edition_content_film">
			<form th:method="post" th:action="@{save}" th:object="${form}" enctype="multipart/form-data" class="container">
				<div class="row form-group">
					<div class="col-md-6">
						<label for="edition-name">Nom :</label>
						<input id="edition-name" class="form-control" th:field="*{name}" placeholder="1999">
					</div>
					<div class="col-md-6">
						<label for="edition-duration">Durée :</label>
						<input id="edition-duration" class="form-control" th:field="*{timePeriod}" placeholder="Du 20 au 27 Janvier">
					</div>
				</div>
				<div class="form-group">
					<label for="edition-teaser">Teaser :</label>
					<input id="edition-teaser" class="form-control" th:field="*{teaserUrl}" placeholder="https://www.youtube-nocookie.com/embed/???">
					
				</div>
				<div class="form-group">
					<label for="edition-edito">Editorial :</label>
					<textarea id="edition-edito" class="form-control" th:field="*{editorial}" 
					placeholder="Editorial" rows="25"></textarea>
				</div>
				<p class="form-group">
					<label for="edition-color">Accent color :</label>
					<input id="edition-color" type="color" th:field="*{color}">
				</p>
				<p class="form-group">
					<label for="uploadPdf">Programme pdf :</label>
					<div>
						<a th:if="*{pdfUrl} != null" th:href="*{pdfUrl}" th:text="*{pdfUrl}"></a>
						<input type="file" id="uploadPdf" accept="application/pdf"
						th:field="*{pdfFile}">
					</div>
				</p>
				<p class="form-group">
					<label for="uploadHeader">Image header :
						<img id="headerPreview" class="imageUploadPreview d-block" th:src="*{heroUrl}">
						<input type="file" id="uploadHeader" accept="image/*" class="d-none2"
						th:field="*{heroFile}" th:required="*{heroUrl == null}" >
					</label>
				</p>
				<p class="form-group">
					<label for="uploadShareImage">Image à montrer lors du preview des liens sur les réseaux sociaux :
						<img id="shareImagePreview" class="imageUploadPreview d-block" th:src="*{shareImageUrl}">
						<input type="file" id="uploadShareImage" accept="image/*" class="d-none2"
						th:field="*{shareImageFile}" th:required="*{shareImageUrl == null}" >
					</label>
				</p>

				<input class="btn btn-primary" type="submit">
			</form>
		</div>
		<h2 id="boothPicturesAnchor" class="admin_title_next_edition">Envoi des photos booth</h2>
		<div class="row edition_content_film">
			<form th:method="post" th:action="@{pictures}" enctype="multipart/form-data" class="container">
				<div class="col-md-6">
					<label for="booth-password">Mot de passe :</label>
					<input id="booth-password" class="form-control" name="password" required/>
				</div>
				<input type="file" accept="image/*" name="files" multiple required>
				<input class="btn btn-primary" type="submit">
			</form>
		</div>
	</main>
</section>
</body>
<script>
function showPreviewImage(input, image, maxsize) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			if(maxsize && input[0].files[0].size > maxsize){
				alert("Le fichier est plus gros que la taille maximale de " + maxsize + " octets !");
				input[0].value = "";
				return;
			};
			var reader = new FileReader();

			reader.onload = function (e) {
				image.attr('src', e.target.result);
			}

			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadHeader"), $("#headerPreview"), 500000);
</script>
</html>
