<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:if="${form.title != null}"  th:text="${'Édition de ' + form.title}">Titre du film</title>
		<title th:if="${form.title == null}">Création d'un nouveau film</title>
		<link rel="icon" href="favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.1.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/bo-style.css" />

		<!-- js -->
		<script src="/plugins/jquery-3.4.1.min.js"></script>
		<script src="/plugins/bootstrap-4.1.3.min.js"></script>
	</head>

<body class="container-fluid">
	<header>
		<a href="/bo" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="Responsive image"></a>
	</header>

	<form th:action="@{/bo/film/save-edit}" th:method="post" th:object="${form}" enctype="multipart/form-data" class="container">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{nextEdition}">
		<div class="form-group">
			<label for="movieName">Titre du film</label>
			<input type="text" th:field="*{title}" class="form-control" id="movieName" required>
	  </div>
		<div class="form-group">
			<label for="movieURL">URL du film</label>
			<input type="text" th:field="*{textualId}" class="form-control" id="movieURL" aria-describedby="urlHelp" required pattern="[-a-z0-9]+">
			<small id="urlHelp" class="form-text text-muted">Merci de ne pas mettre d'accent et de remplacer les espaces par un underscore ou un tiret</small>
		</div>
		<div class="form-group">
			<label for="descriptionFilm">Texte descriptif</label>
			<textarea class="form-control" th:field="*{description}" id="descriptionFilm" rows="3"></textarea>
		</div>
		<div class="form-group">
			<label for="movieDate">Date de la séance</label>
			<input type="date" th:field="*{date}" class="form-control" id="movieDate" required>
		</div>
		<div class="form-group">
			<label for="movieTime">Heure de la séance</label>
			<input type="time" th:field="*{startTime}" class="form-control" id="movieTime">
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="uploadPoster">Poster du film
				<img id="filmPosterPreview" class="imageUploadPreview" th:src="*{posterUrl}">
				</label>
				<input type="file" th:field="*{posterFile}" accept="image/*" class="form-control-file" id="uploadPoster" th:required="*{posterUrl == null}">
			</div>
			<div class="form-group col-md-6">
				<label for="uploadSample">Extrait du film
					<img id="filmSamplePreview" class="imageUploadPreview" th:src="*{sampleUrl}">
				</label>
				<input type="file" th:field="*{sampleImageFile}" accept="image/*" class="form-control-file" id="uploadSample" th:required="*{posterUrl == null}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="movieRelase">Date de sortie du film</label>
					<input type="text" th:field="*{releaseDate}" class="form-control" id="movieRelase">
				</div>
				<div class="form-group">
					<label for="scenarist">Scénariste</label>
					<input type="text" th:field="*{scenarist}" class="form-control" id="scenarist">
				</div>
				<div class="form-group">
					<label for="scenarist">Nationalité</label>
					<input type="text" th:field="*{nationality}" class="form-control" id="scenarist">
				</div>
				<div class="form-group">
					<label for="movieCasting">Casting</label>
					<input type="text" th:field="*{casting}" class="form-control" id="movieCasting">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="movieDirector">Réalisateur</label>
					<input type="text" th:field="*{director}" class="form-control" id="movieDirector">
				</div>
				<div class="form-group">
					<label for="movieDuration">Durée du film</label>
					<input type="text" th:field="*{duration}" class="form-control" id="movieDuration">
				</div>
				<div class="form-group">
					<label for="partner">Partenaire de la séance</label>
					<input type="text" th:field="*{partner}" class="form-control" id="partner">
				</div>
				<div class="form-group">
					<label for="movieRated">Classification du film</label>
					<input type="text" th:field="*{ageRating}" class="form-control" id="movieRated">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="movieTickets">Lien URL de la billetterie</label>
			<input type="text" th:field="*{buyUrl}" class="form-control" id="movieTickets">
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="locationName">Nom du lieu de la séance</label>
					<input type="text" th:field="*{locationName}" class="form-control" id="locationName">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="locationAddress">Addresse du lieu de la séance</label>
					<input type="text" th:field="*{locationAddress}" class="form-control" id="locationAddress">
				</div>
			</div>
		</div>

	<a href="/bo" class="btn btn-secondary">Annuler</a>
	<button type="submit" class="btn btn-primary" th:text="*{id == null} ? 'Créer' : 'Éditer'">Créer</button>
	</form>
</body>
<script>
function showPreviewImage(input, image) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			var reader = new FileReader();

				reader.onload = function (e) {
					image.attr('src', e.target.result);
				}

			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadSample"), $("#filmSamplePreview"));
showPreviewImage($("#uploadPoster"), $("#filmPosterPreview"));
// showPreviewImage(input, image);
</script>
</html>
