<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Administration - Maudit Festival</title>
	<link rel="icon" href="/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-4.1.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bo-style.css" />

	<!-- js -->
	<script src="/plugins/jquery-3.4.1.min.js"></script>
	<script src="/plugins/bootstrap-4.1.3.min.js"></script>
</head>


<body class="container-fluid">
	<header class="admin_header">
		<a href="/" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>
		<h1 class="col-md-9 col-sm-7 col-6">Interface admin</h1>
	</header>
<section class="row">
	<div class="col-md-3 admin_sidebar">
		<ul>
			<li class="line_1"><a href="/bo">&lt;&lt; Back</a></li>
			<li class="line_1"><a href="#documentAnchor">Plaquette</a></li>
			<li class="line_1"><a href="#logosAnchor">Logos</a></li>
		</ul>
	</div>
	<main class="admin_main col-md-8">
		<h2 id="documentAnchor" class="admin_title_next_edition">Plaquette :</h2>
		<div class="row edition_content_film">
			<form th:method="post" th:action="@{upload-document}" enctype="multipart/form-data" class="container">
				<a href="/uploads/press/MauditFestival.pdf" target="_blank">Plaquette actuelle</a>
				<p class="form-group">
					<label for="uploadPdf">
						<input type="file" id="uploadPdf" accept="application/pdf" name="file">
					</label>
				</p>
				<input class="btn btn-primary" type="submit">
			</form>
		</div>
		<h2 id="logosAnchor" class="admin_title_next_edition">Logos </h2>
		<a class="btn btn-primary" href="logo/create/new">Ajouter un logo</a>
		<div class="row edition_content_film">
			<article th:each="logo : ${pressLogos}">
				<header class="partner-logo-display">
					<img th:src="*{logo.logoUrl}" style="height: auto" th:alt="${logo.name}">
				</header>
					<p th:text="${logo.name}"></p>
					<a th:href="${'logo/edit/' + logo.id}">Éditer</a>
			</article>
		</div>
	</main>
</section>
</body>
</html>
