<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${'Édition de ' + form.name}">Titre du film</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.1.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bo-style.css" />
	<script
			  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			  crossorigin="anonymous"></script>
	<script src="/plugins/bootstrap-4.1.3.min.js"></script>
</head>

<body class="container-fluid">
	<div class="row">
		<a href="/"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="header-logo"></a>
	</div>

	<form th:action="@{/bo/sponsors/save-edit}" th:method="post" th:object="${form}" enctype="multipart/form-data" class="container">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{nextEdition}">
		<div class="form-group">
			<label for="movieName">Nom du partenaire</label>
			<input type="text" th:field="*{name}" class="form-control" id="sponsorName" required>
		</div>
		<div class="form-group">
			<label for="movieURL">URL du site du partenaire</label>
			<input type="text" th:field="*{targetUrl}" class="form-control" id="sponsorURL" required>
		</div>
		<div class="form-group">
			<label for="uploadLogo">Logo du partenaire
			<img id="logoPreview" class="imageUploadPreview" th:src="*{logoUrl}">
			</label>
			<input type="file" th:field="*{logoFile}" accept="image/*" class="form-control-file" id="uploadLogo" required>
		</div>

		<a href="/bo" class="btn btn-secondary">Annuler</a>
		<button type="submit" class="btn btn-primary">Créer</button>
	</form>
</body>
<script>
function showPreviewImage(input, image) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			var reader = new FileReader();
			
				reader.onload = function (e) {
					image.attr('src', e.target.result);
				}
			
			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadLogo"), $("#filmLogoPreview"));
</script>
</html>
