<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:if="${form.name != null}"  th:text="${'Édition de ' + form.name}">Nom du sponsor</title>
		<title th:if="${form.name == null}">Création d'un nouveau sponsor</title>
		<link rel="icon" href="/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-4.1.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/bo-style.css" />

		<!-- js -->
		<script src="/plugins/jquery-3.4.1.min.js"></script>
		<script src="/plugins/bootstrap-4.1.3.min.js"></script>
	</head>
<body class="container-fluid">
<!--	<header>-->
<!--		<a href="/bo" class="col-md-3 col-sm-5 col-6"><img src="/img/logo-terreur-nocture.png" alt="Logo Terreur Nocturne" class="img-fluid"></a>-->
<!--	</header>-->

	<form th:action="@{../save-edit}" th:method="post" th:object="${form}" enctype="multipart/form-data" class="container">
		<input type="hidden" th:field="*{id}" th:unless="${copy}">
		<div class="form-group">
			<label for="sponsorName">Nom du partenaire</label>
			<input type="text" th:field="*{name}" class="form-control" id="sponsorName" required>
		</div>
		<div class="form-group">
			<label for="sponsorId">Id du partenaire</label>
			<input type="text" th:field="*{textualId}" class="form-control" id="sponsorId" required pattern="[a-z0-9\-]+" th:readonly="${copy}">
		</div>
		<div class="form-group">
			<label for="sponsorURL">URL du site du partenaire</label>
			<input type="text" th:field="*{targetUrl}" class="form-control" id="sponsorURL" required>
		</div>
		<div class="form-group partner-logo-display">
			<label for="uploadLogo">Logo du partenaire
			<img id="logoPreview" class="imageUploadPreview" th:src="*{logoUrl}">
			</label>
			<input type="file" th:field="*{logoFile}" accept="image/*" class="form-control-file" id="uploadLogo" th:required="*{targetUrl == null}">
			<input type="hidden" th:field="*{logoUrl}" th:if="${copy}">
		</div>
		<a href="../../dashboard#sponsorAnchor" class="btn btn-secondary" th:unless="${copy}">Annuler</a>
		<a href="../copy" class="btn btn-secondary" th:if="${copy}">Annuler</a>
		<button type="submit" class="btn btn-primary" th:text="*{id == null} ? 'Créer' : 'Éditer'">Créer</button>
	</form>
	<form th:action="@{../delete}" th:method="post" th:if="${form.id != null}" th:unless="${copy}"
	onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce sponsor ?');">
		<input type="hidden" name="id" th:value="${form.id}">
		<button type="submit" class="btn btn-danger">Supprimer</button>
	</form>
</body>
<script>
function showPreviewImage(input, image, maxsize) {
	input.change(function(){
		if (input[0].files && input[0].files[0]) {
			if(maxsize && input[0].files[0].size > maxsize){
				alert("Le fichier est plus gros que la taille maximale de " + maxsize + " octets !");
				input[0].value = "";
			};
			var reader = new FileReader();

				reader.onload = function (e) {
					image.attr('src', e.target.result);
				}

			reader.readAsDataURL(input[0].files[0]);
		}
	});
}
showPreviewImage($("#uploadLogo"), $("#logoPreview"), 50000);

</script>
<script th:unless="${copy}">

let autoid = true;
let titleInput = $("#sponsorName");
let idInput = $("#sponsorId");

function sanitize(string) {
	const regExp = /[^a-z0-9\-]/g
	return string.toLowerCase().replaceAll(' ', '-').replaceAll('\'', '-').normalize("NFD").replaceAll(regExp, "");
}

titleInput.on("change", ()=>{
	let movietitle = titleInput.val();
	if (autoid) {
		idInput.val(sanitize(movietitle));
	}
	
})

idInput.on("change", ()=>{
	autoid = (idInput.val()) ? false : true;
})

</script>
</html>
