<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<title>Bienvenue sur le site des maudits films</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/new_style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
	<header th:replace="new/fragments/common.html :: common-navbar"></header>
	<div class="hero short-hero">
	</div>
	<div>
		<h2>Les origines du maudit festival</h2>
	</div>
	<footer th:replace="new/fragments/common.html :: common-footer">
	</footer>
</body>
</html>