<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<link rel="icon" href="favicon.ico" />
	<title th:text="${'Archive '+ page.name + ' - Le Maudit Festival'}">Le site du Maudit Festival</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Toutes les informations sur ce festival dédié à un
cinéma étrange et méconnu à Grenoble : programmation, films, rencontres, événements."/>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.1.3.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/new_style.css" />
	<!-- js -->
	<script src="/plugins/jquery-3.4.1.min.js"></script>
	<script src="/plugins/bootstrap-4.1.3.min.js"></script>
</head>

<body>
	<header th:replace="new/fragments/common.html :: common-navbar"></header>
	<section class="hero short-hero">
	</section>
	<section class="previous_edition">
		<div class='previous_sidemenu'>
			<h3 th:text="${page.name}"></h3>
			<ul>
			<li th:if="${page.editorial != null}" ><a href="#PreviousEdito">Editorial</a></li>
			<li th:if="${page.teaserVideoUrl != null}"><a href="#PreviousTeaser">Teaser</a></li>
						<li th:if="${page.guests.size() > 0}"><a href="#PreviousGuests">Les invités</a></li>
			<li ><a href="#PreviousMovies">Les films et évènements</a></li>
		</ul>
		</div>
		<div class="container-fluid">
			<div class="col-lg-9 offset-lg-2 col-md-12 previous_main_edition">
				<div th:if="${page.editorial != null}" class='row previous_edito' id="PreviousEdito">
					<h2>Éditorial</h2>
					<p th:utext="${#strings.replace(#strings.escapeXml(page.editorial),'&#10;','&lt;br&gt;')}"></p>
				</div>
				<div th:if="${page.teaserVideoUrl != null}" class='row previous_teaser' id="PreviousTeaser">
					<h2>Teaser</h2>
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" title="Teaser" loading="lazy" th:src="${page.teaserVideoUrl}" allowfullscreen></iframe>
					</div>
				</div>
				<div th:if="${page.guests.size() > 0}" class='row previous_guests' id="PreviousGuests">
					<h2>Invités</h2>
					<div class="container">
						<div th:each="guest : ${page.guests}" class="row">
							<h3 th:text="${guest.name}"></h3>
							<div class="row">
								<div class="col-md">
									<p th:text="${guest.description}"></p>
							</div>
							<div class="col-md guest_img">
								<img th:src="${guest.imageUrl}" th:if="${guest.imageUrl!= null}">
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container previous_programmation_list_days" id="PreviousMovies">
					<h2>Les Films et évènements</h2>
					<th:block th:each="day : ${page.days}">
						<a th:text="${day.displayDate}" th:href="'#'+${day.date}"></a>
						<span>/</span>
					</th:block>
				</div>
				<div class="day_previous_programmation d-flex flex-wrap">
				<div th:each="day : ${page.days}" th:id="${day.date}" class="content_previous_list">
						<h4 th:text="${day.displayDate}"></h4>
						<div class="previous-programmation-day-recap row">
							<article th:each="film : ${day.films}" class="col-md">
								<header>
									<a th:href="@{'/bo/next/film/'+${film.textualId}}" class="link_img_previous"><img th:src="*{film.imageUrl}" class="img-fluid rounded" th:alt="${film.title}" loading="lazy"></a>
								</header>
								<div th:text="${film.startTime}"></div>
								<div th:text="${film.title}"></div>
								<div th:text="${film.locationName}"></div>
								<a th:href="@{'/bo/next/film/'+${film.textualId}}" class="know_more_previous_programmation">En savoir plus</a>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="new/fragments/common.html :: common-footer">
	</footer>
</body>
</html>
